// # Sass variables
// -----------------------------------------------------------------------------

$font-size:                         18px;
$line-height:                       1.75;

$spacing:                           1.333333rem;
$spacing-xs:                        $spacing * 0.25;
$spacing-sm:                        $spacing * 0.5;
$spacing-md:                        $spacing * 1; // Same as unsuffixed
$spacing-lg:                        $spacing * 2;
$spacing-xl:                        $spacing * 3;

$wrapper-width:                     40rem;

$color-blue:                        #2c66ee;
$color-green:                       #34e3bd;

$color-text:                        #444;
$color-text-secondary:              #767676;
$color-link:                        $color-blue;
$color-grey-90:                     #eee;



// # Reset
// -----------------------------------------------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header, footer, main, article, aside, details,
figcaption, figure, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}



// # Box Sizing
// -----------------------------------------------------------------------------

// More sensible default box-sizing:
// css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice

html {
	box-sizing: border-box;
}

* {
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}



// # Elements
// -----------------------------------------------------------------------------

html {
	color: $color-text;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: $line-height;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;

	&:after {
		content: " ";
		width: 0.5rem;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		background: $color-blue;
		background: linear-gradient($color-green, $color-blue);
	}
}

body {
	max-width: $wrapper-width;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

@media screen and (min-width: 504px) {
	html {
		font-size: $font-size;

		&:after {
			width: 0.75rem;
		}
	}
}

@media screen and (min-width: 756px) {
	html {
		&:after {
			width: 1.5rem;
		}
	}

	body {
		padding-top: 2rem;
	}
}

@media screen and (min-width: 1008px) {
	body.is-home {
		padding-top: 4rem;
	}
}

[hidden="true"] {
	display: none;
}



// ## Typography
// -----------------------------------------------------------------------------

h1 {
	font-size: 2rem;
	line-height: 1.4;
	font-weight: bold;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: bold;
	margin-bottom: 1em;
}

h3,
.c-h3 {
	font-size: 1rem;
	font-weight: bold;
}

p {
	margin-bottom: 1.25em;
}

small {
	display: inline-block;
	font-size: 0.666666rem;
	line-height: 1.5;
}

ul {
	list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="%23444"><polygon points="7.14 4.14 6.43 4.84 10.59 9 0 9 0 10 10.59 10 6.43 14.16 7.14 14.86 12.5 9.5 7.14 4.14"/></svg>');
}

ol {
	list-style: decimal;
}

li ul,
li ol {
	margin-bottom: 0;
}

ol,
ul {
	margin-left: 1.5rem;
	margin-bottom: 1.25em;
}

li {
	margin-bottom: 0.75em;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

a {
	color: $color-link;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@media screen and (min-width: 504px) {
	ul {
		list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" viewBox="0 0 19 15" fill="%23444"><polygon points="8.64 2.14 7.93 2.84 13.09 8 0 8 0 9 13.09 9 7.93 14.16 8.64 14.86 15 8.5 8.64 2.14"/></svg>');
	}
}



// ## Images and media
// -----------------------------------------------------------------------------

img {
	max-width: 100%;
	height: inherit;
	vertical-align: middle;
}

figure {
	margin-bottom: $spacing-lg;
}

figcaption {
	font-size: 0.8125rem;
	font-style: italic;
	margin-top: $spacing-sm;
}



// # Objects
// -----------------------------------------------------------------------------

.o-button-bare {
	display: inline-block;
	color: inherit;
	background-color: transparent;
	text-align: left;
	vertical-align: baseline;
	font: inherit;
	text-decoration: none;
	direction: ltr;
	border: none;
	border-radius: 0;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	cursor: pointer;
	transition: 0s;
	box-shadow: none;
	overflow: auto;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;

	&:focus,
	&:hover {
		color: inherit;
		background-color: transparent;
		text-decoration: none;
	}
}

.o-list-bare {
	list-style: none;
	margin-left: 0;

	li {
		margin: 0;
	}
}

.o-list-ruled {
	> li {
		padding-top: $spacing-md;
		padding-bottom: $spacing-md;

		&:not(:last-child) {
			border-bottom: 1px solid $color-grey-90;
		}
	}
}



// ## Forms
// -----------------------------------------------------------------------------

button,
.c-button {
	display: inline-block;
	color: #eee;
	background-color: $color-blue;
	text-align: center;
	vertical-align: middle;
	font: inherit;
	font-size: 0.888888rem;
	font-weight: bold;
	text-decoration: none;
	direction: ltr;
	border: none;
	border-radius: 4px;
	width: auto;
	height: auto;
	margin: 0;
	padding: $spacing-xs $spacing-md;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s;
	box-shadow: none;
	overflow: auto;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;

	&:focus,
	&:hover {
		color: $color-text;
		background-color: $color-green;
		text-decoration: none;
	}
}



// # Components
// -----------------------------------------------------------------------------

.c-site-header {
	border-bottom: 1px solid $color-grey-90;
	margin-bottom: $spacing-lg;
}

.c-site-footer {
	border-top: 1px solid $color-grey-90;
	padding-top: $spacing;
}

.c-post-footer {
	color: $color-text-secondary;
	font-size: 0.666666rem;
	margin-top: $spacing-lg;
}

.c-main-content {
	margin-bottom: $spacing-xl;
}

.c-section {
	margin-bottom: $spacing-xl;
}

.c-nav__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 0.75rem;
}

.c-nav__item {
	&:not(:last-child) {
		margin-right: $spacing;
	}

}

@media screen and (min-width: 600px) {
	.c-nav__item.is-theme-switcher {
		margin-left: auto;
	}
}

.c-breadcrumbs {
	color: $color-text-secondary;
	font-size: 0.75rem;
	margin-bottom: 1rem;
}

.c-breadcrumbs__list {
	display: flex;
}

.c-breadcrumbs__item {
	&:last-child {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&:not(:last-child) {
		&:after {
			content: "/";
			margin-left: $spacing-xs;
			margin-right: $spacing-xs;
		}
	}
}

.c-slug {
	font-size: 0.666666rem;
}

.c-button-group {
	display: flex;
	flex-wrap: nowrap;

	button,
	.c-button {
		display: block;
		flex: 1 1 auto;
		border-radius: 0;
		max-width: 33.333333%;

		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&:not(:last-child) {
			margin-right: 1px;
		}
	}
}

.c-theme-switcher-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;

	&:hover {
		svg {
			fill: $color-blue;
		}
	}

	svg {
		fill: $color-text;
		transition: fill 0.2s;
	}

	.light {
		display: none;
	}

	.dark {
		display: block;
	}
}



// ## Resume
// -----------------------------------------------------------------------------

.c-resume {
	line-height: 1.4;
}

.c-resume__overview {
	> :last-child {
		margin-bottom: 0;
	}
}

.c-resume__details {
	margin-top: 1rem;

	> :last-child {
		margin-bottom: 0;
	}
}

.c-resume__details-button {
	color: $color-blue;
	text-decoration: underline;
	font-size: 0.777777rem;

	&:focus {
		color: $color-blue;
		text-decoration: underline;
	}

	&:hover {
		text-decoration: none;
	}
}

@media screen and (min-width: 504px) {
	.c-resume,
	.c-resume__header {
		display: flex;
		align-items: baseline;
	}

	.c-resume__date,
	.c-resume__title {
		flex: 0 0 auto;
		width: 9rem;
		margin-right: 1.5rem;
	}
}



// # Utilities
// -----------------------------------------------------------------------------

.u-sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.u-no-margin-bottom {
	margin-bottom: 0 !important;
}



// # Dark Mode
// -----------------------------------------------------------------------------

html[data-theme="dark"] {
	color: #eee;
	background-color: #222;

	&:after {
		background: linear-gradient($color-green, #0038ba);
	}

	a {
		color: $color-green;
	}

	ul:not(.o-list-bare) {
		list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" viewBox="0 0 19 15" fill="%23bababa"><polygon points="8.64 2.14 7.93 2.84 13.09 8 0 8 0 9 13.09 9 7.93 14.16 8.64 14.86 15 8.5 8.64 2.14"/></svg>');
	}

	.o-list-ruled {
		li {
			&:not(:last-child) {
				border-bottom-color: #444;
			}
		}
	}

	.c-site-header {
		border-bottom-color: #444;
	}

	.c-site-footer {
		border-top-color: #444;
	}

	.c-post-footer,
	.c-breadcrumbs {
		color: #898989;
	}

	.c-resume__details-button {
		color: $color-green;

		&:focus {
			color: $color-green;
		}
	}

	.c-theme-switcher-button {
		svg {
			fill: #eee;
		}

		.light {
			display: block;
		}

		.dark {
			display: none;
		}
	}
}



// # Print Styles
// -----------------------------------------------------------------------------

@media print {
	html {
		font-size: 12px;
		line-height: 1.25;
	}

	body {
		max-width: 100%;
	}

	a {
		color: $color-text;

		&:after {
			content: " (" attr(href) ")";
			font-size: 80%;
		}
	}

	.c-site-header,
	.c-site-footer {
		display: none;
	}

	.c-resume {
		display: flex;
	}

	.c-resume__date {
		flex: 0 0 auto;
		width: 9rem;
		margin-right: 1.5rem;
	}

	.u-no-print {
		display: none;
	}

	[hidden="true"] {
		display: block !important;
	}
}
