@font-face {
	font-family: "Geist";
	font-style: normal;
	font-weight: normal;
	src:
		url("/assets/fonts/geist/Geist-Regular.otf") format("opentype"),
		url("/assets/fonts/geist/Geist-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Geist";
	font-style: normal;
	font-weight: bold;
	src:
		url("/assets/fonts/geist/Geist-Bold.otf") format("opentype"),
		url("/assets/fonts/geist/Geist-Bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Geist Mono";
	font-style: normal;
	font-weight: normal;
	src:
		url("/assets/fonts/geist-mono/GeistMono-Regular.otf") format("opentype"),
		url("/assets/fonts/geist-mono/GeistMono-Regular.woff2") format("woff2");
	font-display: swap;
}

:root {
	--typography--font-family: "Geist";
	--typography--font-family-mono: "Geist Mono";
	--typography--font-size: 18px;
	--typography--line-height: 1.55;
	--color--primary: #2c66ee;
	--color--secondary: #34e3bd;
	--color--shadow: rgba(44, 102, 238, 0.25);
	--color--text-heading: #444;
	--color--text: #555;
	--color--text-secondary: #767676;
	--color--link: var(--color--primary);
	--color--border: #ededed;
	--spacing: 1rem;
	--spacing--xs: 0.25rem;
	--spacing--sm: 0.5rem;
	--spacing--md: var(--spacing);
	--spacing--lg: 2rem;
	--spacing--xl: 3rem;
	--border-radius: 1rem;
}

// 0. CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header, footer, main, article, aside, details,
figcaption, figure, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// 1. Elements
html {
	color: var(--color--text);
	font-family: var(--typography--font-family), "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: var(--typography--line-height);
	font-weight: 400;
	padding-top: 1.5rem;
	padding-left: 0.5rem;
	padding-bottom: 2.5rem;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;

	&:after {
		content: " ";
		width: 0.5rem;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		background: var(--color--primary);
		background: linear-gradient(var(--color--secondary), var(--color--primary));
	}
}

@media screen and (min-width: 504px) {
	html {
		font-size: var(--typography--font-size);
		padding-left: 0.75rem;

		&:after {
			width: 0.75rem;
		}
	}
}

@media screen and (min-width: 756px) {
	html {
		padding-top: 2rem;
		padding-left: 1.5rem;

		&:after {
			width: 1.5rem;
		}
	}
}

@media screen and (min-width: 1008px) {
	html {
		padding-top: 4rem;
		padding-left: 1.5rem;
	}
}

h1,
h2,
h3 {
	color: var(--color--text-heading);
}

h1 {
	font-size: 2.25rem;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: 1em;
	background: -webkit-linear-gradient(315deg, var(--color--secondary), var(--color--primary));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: 0.5em;
}

h3,
.c-h3 {
	font-size: 1.25rem;
	line-height: 1.55;
	font-weight: bold;
	margin-bottom: 0;
}

h4,
.c-h4 {
	font-size: 1rem;
	line-height: 1.55;
	font-weight: bold;
	margin-bottom: 0;
}

p {
	margin-bottom: 1em;

	+ h2,
	+ h3 {
		margin-top: 1em;
	}
}

small {
	display: inline-block;
	font-size: 0.666666rem;
	line-height: 1.5;
}

ul {
	list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="%23444"><polygon points="7.14 4.14 6.43 4.84 10.59 9 0 9 0 10 10.59 10 6.43 14.16 7.14 14.86 12.5 9.5 7.14 4.14"/></svg>');
}

ol {
	list-style: decimal;
}

li ul,
li ol {
	margin-bottom: 0;
}

ol,
ul {
	margin-left: 1.5rem;
	margin-bottom: 1.25em;
}

li {
	margin-bottom: 0.75em;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

kbd,
code,
var {
	color: #96268a;
	font-family: var(--typography--font-family-mono), monospace;
	font-size: 0.9rem;
}

kbd {
	border-bottom-width: 3px;
}

a {
	color: var(--color--link);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@media screen and (min-width: 504px) {
	ul {
		list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" viewBox="0 0 19 15" fill="%23444"><polygon points="8.64 2.14 7.93 2.84 13.09 8 0 8 0 9 13.09 9 7.93 14.16 8.64 14.86 15 8.5 8.64 2.14"/></svg>');
	}
}

img {
	max-width: 100%;
	height: inherit;
	vertical-align: middle;
}

figure {
	margin-bottom: var(--spacing--lg);
}

figcaption {
	font-size: 0.8125rem;
	line-height: 1.4;
	margin-top: var(--spacing--sm);
}

// 2. Objects
.o-button-bare {
	display: inline-block;
	color: inherit;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	font: inherit;
	text-decoration: none;
	direction: ltr;
	border: none;
	border-radius: 0;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	cursor: pointer;
	transition: 0s;
	box-shadow: none;
	overflow: auto;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;

	&:focus,
	&:hover {
		color: inherit;
		background-color: transparent;
		text-decoration: none;
	}
}

.o-list-bare {
	list-style: none;
	margin-left: 0;

	li {
		margin: 0;
	}
}

.o-list-ruled {
	li {
		&:not(:first-child) {
			padding-top: var(--spacing--md);
		}

		&:not(:last-child) {
			padding-bottom: var(--spacing--md);
			border-bottom: 1px solid var(--color--border);
		}
	}
}

.o-container {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.o-hstack {
	display: flex;
	gap: 0 1.5rem;
}

.o-hstack__item {
	flex: 1 1 auto;

	> :last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 504px) {
	.o-hstack--col-sm {
		flex-direction: column;
	}
}

// 3. Components
.c-site-header {
	border-bottom: 1px solid var(--color--border);
	margin-bottom: var(--spacing--lg);
}

.c-site-footer {
	border-top: 1px solid var(--color--border);
	padding-top: var(--spacing--md);
}

.c-post-footer {
	color: var(--color--text-secondary);
	font-family: var(--typography--font-family-mono);
	font-size: 0.666666rem;
	margin-top: var(--spacing--lg);
}

.c-main-content {
	margin-bottom: var(--spacing--xl);
}

.c-section {
	margin-bottom: var(--spacing--xl);

	> :last-child {
		margin-bottom: 0;
	}
}

.c-section--divided {
	border-top: 1px solid var(--color--border);
	padding-top: var(--spacing--xl);
}

.c-nav__list {
	display: flex;
	gap: var(--spacing--md);
	flex-wrap: wrap;
	align-items: center;
	font-size: 0.75rem;
}

@media screen and (min-width: 504px) {
	.c-nav__item.is-theme-switcher {
		margin-left: auto;
	}
}

.c-breadcrumbs {
	color: var(--color--text-secondary);
	font-size: 0.75rem;
	margin-bottom: 1rem;
}

.c-breadcrumbs__list {
	display: flex;
}

.c-breadcrumbs__item {
	&:last-child {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&:not(:last-child) {
		&:after {
			content: "/";
			margin-left: var(--spacing--xs);
			margin-right: var(--spacing--xs);
		}
	}
}

.c-slug {
	font-family: var(--typography--font-family-mono);
	font-size: 0.666666rem;
}

.c-date-range {
	flex: 0 0 auto;
	font-family: var(--typography--font-family-mono);
	min-width: 9rem;
}

.c-book-cover {
	flex: 0 0 auto;
	width: 4.5rem;
}

@media screen and (max-width: 375px) {
	.c-book-cover {
		display: none;
	}
}

.c-button-group {
	display: flex;
	gap: 1px;
	flex-wrap: nowrap;

	.c-button {
		display: block;
		flex: 1 1 auto;
		border-radius: 0;
		max-width: 33.333333%;

		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}

.c-button {
	color: #fff;
	background-color: var(--color--primary);
	font-size: 0.888888rem;
	font-weight: bold;
	border-radius: 4px;
	padding: var(--spacing--xs) var(--spacing--md);
	transition: color 0.2s, background-color 0.2s;

	&:focus,
	&:hover {
		color: var(--color--text);
		background-color: var(--color--secondary);
		text-decoration: none;
	}
}

.c-theme-switcher-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;

	&:hover {
		svg {
			fill: var(--color--primary);
		}
	}

	svg {
		fill: var(--color--text);
		transition: fill 0.2s;
	}

	.light {
		display: none;
	}

	.dark {
		display: block;
	}
}

// 4. Utilities
.u-sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.u-no-wrap {
	white-space: nowrap !important;
}

// 5. Themes
html[data-theme="dark"] {
	--color--text-heading: #ededed;
	--color--text: #a1a1a1;
	--color--text-secondary: #898989;
	--color--primary: #34e3bd;
	--color--secondary: #2c66ee;
	--color--shadow: rgba(52, 227, 189, 0.05);
	--color--border: #444;

	background-color: #222;

	&:after {
		background: linear-gradient(var(--color--primary), #0038ba);
	}

	h1 {
		background: -webkit-linear-gradient(315deg, var(--color--primary), var(--color--secondary));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	ul:not(.o-list-bare) {
		list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" viewBox="0 0 19 15" fill="%23bababa"><polygon points="8.64 2.14 7.93 2.84 13.09 8 0 8 0 9 13.09 9 7.93 14.16 8.64 14.86 15 8.5 8.64 2.14"/></svg>');
	}

	code {
		color: #ef7a85;
	}

	.c-theme-switcher-button {
		.light {
			display: block;
		}

		.dark {
			display: none;
		}
	}

	.c-button {
		color: #222;
		background-color: var(--color--primary);

		&:focus,
		&:hover {
			color: #fff;
			background-color: var(--color--secondary);
		}
	}
}

@media print {
	html {
		font-size: 12px;
		line-height: 1.25;

		&:after {
			display: none;
		}
	}

	h1 {
		color: var(--color--text);
		background: transparent;
		-webkit-background-clip: initial;
		-webkit-text-fill-color: var(--color--text-heading);
	}

	a {
		color: var(--color--text);

		&:after {
			content: " (" attr(href) ")";
			font-size: 80%;
		}
	}

	.o-container {
		max-width: 100%;
	}

	.c-site-header,
	.c-site-footer {
		display: none;
	}
}
