@use "sass:math";

$breakpoints: (
	sm: 504px,
	md: 756px,
	lg: 1008px,
);

$gutter: 15px;

$total-block-grid-columns: 3;

@mixin respond-to($breakpoint) {
	@if $breakpoint == ">xs" {
		@content;
	}
	@else if $breakpoint == ">sm" {
		@media screen and (min-width: map-get($breakpoints, sm)) {
			@content;
		}
	}
	@else if $breakpoint == ">md" {
		@media screen and (min-width: map-get($breakpoints, md)) {
			@content;
		}
	}
	@else if $breakpoint == ">lg" {
		@media screen and (min-width: map-get($breakpoints, lg)) {
			@content;
		}
	}
	// Error
	@else {
		@error "`#{$breakpoint}` isn't a valid breakpoint";
	}
}

:root {
	--typography--font-size: 18px;
	--typography--line-height: 1.75;
	--color--primary: #2c66ee;
	--color--secondary: #34e3bd;
	--color--shadow: rgba(44, 102, 238, 0.25);
	--color--text: #444;
	--color--text-secondary: #767676;
	--color--link: var(--color--primary);
	--color--border: #eee;
	--spacing: 1rem;
	--spacing--xs: 0.25rem;
	--spacing--sm: 0.5rem;
	--spacing--md: var(--spacing);
	--spacing--lg: 2rem;
	--spacing--xl: 3rem;
	--border-radius: 1rem;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header, footer, main, article, aside, details,
figcaption, figure, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	color: var(--color--text);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: var(--typography--line-height);
	font-weight: 400;
	padding-top: 1.5rem;
	padding-left: 0.5rem;
	padding-bottom: 2.5rem;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

html:after {
	content: " ";
	width: 0.5rem;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background: var(--color--primary);
	background: linear-gradient(var(--color--secondary), var(--color--primary));
}

@media screen and (min-width: 504px) {
	html {
		font-size: var(--typography--font-size);
		padding-left: 0.75rem;

		&:after {
			width: 0.75rem;
		}
	}
}

@media screen and (min-width: 756px) {
	html {
		padding-top: 2rem;
		padding-left: 1.5rem;

		&:after {
			width: 1.5rem;
		}
	}
}

@media screen and (min-width: 1008px) {
	html {
		padding-top: 4rem;
		padding-left: 1.5rem;
	}
}

h1 {
	font-size: 2.25rem;
	line-height: 1.3;
	font-weight: bold;
	margin-bottom: 1em;
	background: -webkit-linear-gradient(315deg, var(--color--secondary), var(--color--primary));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: bold;
	margin-bottom: 0.5em;
}

h3,
.c-h3 {
	font-size: 1rem;
	line-height: var(--typography--line-height);
	font-weight: bold;
	margin-bottom: 0;
}

p {
	margin-bottom: 1.25em;
}

small {
	display: inline-block;
	font-size: 0.666666rem;
	line-height: 1.5;
}

ul {
	list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="%23444"><polygon points="7.14 4.14 6.43 4.84 10.59 9 0 9 0 10 10.59 10 6.43 14.16 7.14 14.86 12.5 9.5 7.14 4.14"/></svg>');
}

ol {
	list-style: decimal;
}

li ul,
li ol {
	margin-bottom: 0;
}

ol,
ul {
	margin-left: 1.5rem;
	margin-bottom: 1.25em;
}

li {
	margin-bottom: 0.75em;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

kbd,
code,
var {
	color: #96268a;
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 0.9rem;
}

kbd {
	border-bottom-width: 3px;
}

a {
	color: var(--color--link);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@media screen and (min-width: 504px) {
	ul {
		list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" viewBox="0 0 19 15" fill="%23444"><polygon points="8.64 2.14 7.93 2.84 13.09 8 0 8 0 9 13.09 9 7.93 14.16 8.64 14.86 15 8.5 8.64 2.14"/></svg>');
	}
}

img {
	max-width: 100%;
	height: inherit;
	vertical-align: middle;
}

figure {
	margin-bottom: var(--spacing--lg);
}

figcaption {
	font-size: 0.8125rem;
	line-height: 1.4;
	margin-top: var(--spacing--sm);
}

button,
.c-button {
	display: inline-block;
	color: #fff;
	background-color: var(--color--primary);
	text-align: center;
	vertical-align: middle;
	font: inherit;
	font-size: 0.888888rem;
	font-weight: bold;
	text-decoration: none;
	direction: ltr;
	border: none;
	border-radius: 4px;
	width: auto;
	height: auto;
	margin: 0;
	padding: var(--spacing--xs) var(--spacing--md);
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s;
	box-shadow: none;
	overflow: auto;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;

	&:focus,
	&:hover {
		color: var(--color--text);
		background-color: var(--color--secondary);
		text-decoration: none;

		.chevron {
			transform: translateX(0);
		}

		.stem {
			opacity: 1;
			transform: scaleX(1);
		}
	}

	svg {
		fill: currentColor;
		width: 12px;
		height: 12px;
		margin-left: 6px;
		transition: fill 0.2s;
	}

	.chevron {
		transition: transform 0.1s;
		transform: translateX(-10px);
	}

	.stem {
		opacity: 0;
		transition: transform 0.1s, opacity 0.1s;
		transform: scaleX(0);
		transform-origin: left center;
	}
}

.c-button--with-arrow {
	padding-right: 12px;
}

.o-button-bare {
	display: inline-block;
	color: inherit;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	font: inherit;
	text-decoration: none;
	direction: ltr;
	border: none;
	border-radius: 0;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	cursor: pointer;
	transition: 0s;
	box-shadow: none;
	overflow: auto;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;

	&:focus,
	&:hover {
		color: inherit;
		background-color: transparent;
		text-decoration: none;
	}
}

.o-list-bare {
	list-style: none;
	margin-left: 0;

	li {
		margin: 0;
	}
}

.o-list-ruled {
	li {
		padding-top: var(--spacing--md);
		padding-bottom: var(--spacing--md);

		&:not(:last-child) {
			border-bottom: 1px solid var(--color--border);
		}
	}
}

.o-container {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.o-container--sm {
	max-width: 50rem;
}

.o-container--md {
	max-width: 60rem;
}

.o-container--lg {
	max-width: 80rem;
}

.o-island {
	margin-bottom: var(--spacing--xl);
}

.o-block-grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter;
	margin-right: -$gutter;

	&:last-child {
		margin-bottom: -($gutter * 2);
	}
}

.o-block-grid__item {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: $gutter * 2;
	padding-left: $gutter;
	padding-right: $gutter;

	> :last-child {
		margin-bottom: 0;
	}
}

@mixin block-grid-loop($breakpoint: null) {
	@for $i from 1 through $total-block-grid-columns {
		.o-block-grid-#{$i}#{$breakpoint} {
			.o-block-grid__item {
				width: math.div(100%, $i);
			}
		}
	}
}

@include block-grid-loop();

@each $name, $size in $breakpoints {
	@include respond-to(">#{$name}") {
		$suffix: "-#{$name}";
		@include block-grid-loop($suffix);
	}
}

.c-site-header {
	border-bottom: 1px solid var(--color--border);
	margin-bottom: var(--spacing--lg);
}

.c-site-footer {
	border-top: 1px solid var(--color--border);
	padding-top: var(--spacing--md);
}

.c-post-footer {
	color: var(--color--text-secondary);
	font-size: 0.666666rem;
	margin-top: var(--spacing--lg);
}

.c-main-content {
	margin-bottom: var(--spacing--xl);
}

.c-section {
	margin-bottom: var(--spacing--xl);

	> :last-child {
		margin-bottom: 0;
	}
}

.c-section--divided {
	border-top: 1px solid var(--color--border);
	padding-top: var(--spacing--xl);
}

.c-nav__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 0.75rem;
}

.c-nav__item {
	&:not(:last-child) {
		margin-right: var(--spacing--md);
	}

}

@media screen and (min-width: 600px) {
	.c-nav__item.is-theme-switcher {
		margin-left: auto;
	}
}

.c-breadcrumbs {
	color: var(--color--text-secondary);
	font-size: 0.75rem;
	margin-bottom: 1rem;
}

.c-breadcrumbs__list {
	display: flex;
}

.c-breadcrumbs__item {
	&:last-child {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&:not(:last-child) {
		&:after {
			content: "/";
			margin-left: var(--spacing--xs);
			margin-right: var(--spacing--xs);
		}
	}
}

.c-slug {
	font-size: 0.666666rem;
}

.c-card,
.c-card__content {
	> :last-child {
		margin-bottom: 0;
	}
}

.c-card {
	position: relative;
}

.c-card__link {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;

	+ .c-card__image + .c-card__content .c-card__title {
		color: var(--color--link);
		text-decoration: underline;
	}

	&:hover {
		+ .c-card__image {
			box-shadow: 0 13px 27px -5px var(--color--shadow), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
			transform: scale(1.01, 1.01);

			+ .c-card__content .c-card__title {
				text-decoration: none;
			}
		}
	}
}

.c-card__image {
	border-radius: var(--border-radius);
	margin-bottom: 0.5rem;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.45);
	transition: box-shadow 0.2s, transform 0.2s;
}

.c-card__content {
	a {
		position: relative;
		z-index: 15;
	}
}

.c-card__title {
	font-size: 1rem;
	margin-bottom: 0;
}

.c-button-group {
	display: flex;
	flex-wrap: nowrap;

	button,
	.c-button {
		display: block;
		flex: 1 1 auto;
		border-radius: 0;
		max-width: 33.333333%;

		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&:not(:last-child) {
			margin-right: 1px;
		}
	}
}

.c-theme-switcher-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;

	&:hover {
		svg {
			fill: var(--color--primary);
		}
	}

	svg {
		fill: var(--color--text);
		transition: fill 0.2s;
	}

	.light {
		display: none;
	}

	.dark {
		display: block;
	}
}

.c-resume,
.c-book {
	line-height: 1.4;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.c-resume__details {
	p {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 504px) {
	.c-resume {
		display: flex;
	}

	.c-resume__date {
		flex: 0 0 auto;
		width: 9rem;
		margin-right: 1.5rem;
	}
}

.c-book__author,
.c-book__rating {
	margin-bottom: 0;
}

.c-book__cover {
	display: none;
}

.c-book__rating {
	letter-spacing: 0.1em;
	margin-top: 0.5em;
}

@media screen and (min-width: 375px) {
	.c-book {
		display: flex;
	}

	.c-book__cover {
		display: block;
		flex: 0 0 auto;
		width: 4.5rem;
		margin-right: 1.5rem;
	}
}

.c-project__header {
	h1 {
		margin-bottom: 1rem;
	}
}

.c-image-text-split {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 1.25em;
}

.c-image-text-split__text,
.c-image-text-split__image {
	> :last-child {
		margin-bottom: 0;
	}
}

.c-image-text-split__text {
	max-width: 37rem;
}

.c-image-text-split__image {
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 60rem) {
	.c-image-text-split {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 48px;
	}

	.c-image-text-split__text,
	.c-image-text-split__image {
		margin-left: 0;
		margin-right: 0;
	}
}

.c-icon {
	margin-bottom: var(--spacing--sm);
}

// Wires Image
.c-wires-image-wrapper {
	margin-bottom: var(--spacing--xl);
}

.c-wires-image-alerts {
	width: 280px;
}

.c-wires-image {
	display: block;
	padding: 20px 25px 30px;
	border-radius: var(--border-radius);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 3px 12px -4px rgba(50, 50, 93, 0.25), 0 4px 8px -4px rgba(0, 0, 0, 0.1);
}

.c-wires-image-alert {
	border-radius: 3px;
	margin-bottom: 12px;
	box-shadow: 0 3px 12px -4px rgba(50, 50, 93, 0.25), 0 4px 8px -4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 420px) {
	.c-wires-image-alerts {
		width: 365px;
	}
}

@media screen and (max-width: 799px) {
	.c-wires-image-cut-off {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -24px;
	}

	.c-wires-image-alerts {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		z-index: 1;
	}
}

@media screen and (min-width: 800px) {
	.c-wires-image-group {
		position: relative;
	}

	.c-wires-image-alerts {
		position: absolute;
		right: 0;
		bottom: -24px;
	}

	.c-wires-image-alert {
		display: block;
	}

	.c-wires-image-caption {
		margin-top: 24px;
	}
}

.u-sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.u-center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.u-no-margin-bottom {
	margin-bottom: 0 !important;
}

.u-no-wrap {
	white-space: nowrap !important;
}

html[data-theme="dark"] {
	--color--text: #eee;
	--color--text-secondary: #898989;
	--color--primary: #34e3bd;
	--color--secondary: #2c66ee;
	--color--shadow: rgba(52, 227, 189, 0.05);
	--color--border: #444;

	background-color: #222;

	&:after {
		background: linear-gradient(var(--color--primary), #0038ba);
	}

	h1 {
		background: -webkit-linear-gradient(315deg, var(--color--primary), var(--color--secondary));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	ul:not(.o-list-bare) {
		list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" viewBox="0 0 19 15" fill="%23bababa"><polygon points="8.64 2.14 7.93 2.84 13.09 8 0 8 0 9 13.09 9 7.93 14.16 8.64 14.86 15 8.5 8.64 2.14"/></svg>');
	}

	code {
		color: #ef7a85;
	}

	.c-theme-switcher-button {
		.light {
			display: block;
		}

		.dark {
			display: none;
		}
	}

	.c-button {
		color: #222;
		background-color: var(--color--primary);

		&:focus,
		&:hover {
			color: #fff;
			background-color: var(--color--secondary);
		}
	}

	.c-card__link {
		&:hover {
			+ .c-card__image {
				box-shadow: 0 13px 27px -5px var(--color--shadow), 0 8px 16px -8px rgba(255, 255, 255, 0.15), 0 -6px 16px -6px rgba(255, 255, 255, 0.025);
			}
		}
	}
}

@media print {
	html {
		font-size: 12px;
		line-height: 1.25;
	}

	a {
		color: var(--color--text);

		&:after {
			content: " (" attr(href) ")";
			font-size: 80%;
		}
	}

	.c-site-header,
	.c-site-footer {
		display: none;
	}

	.c-resume {
		display: flex;
	}

	.c-resume__date {
		flex: 0 0 auto;
		width: 9rem;
		margin-right: 1.5rem;
	}

	.u-no-print {
		display: none;
	}
}
