html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header, footer, main, article, aside, details,
figcaption, figure, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.75rem;
}

body:after {
  content: " ";
  width: 0.75rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #2c66ee;
  background: linear-gradient(to bottom, #34e3bd, #2c66ee);
}

@media screen and (min-width: 698px) {
  body {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 1.5rem;
  }
  body:after {
    width: 1.5rem;
  }
}

h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
ul, ol, dl,
figure,
hr {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
}

h3 {
  font-size: 1.1875rem;
  line-height: 1.26316;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

ul,
ol {
  margin-left: 1.5rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: inherit;
  vertical-align: middle;
}

figcaption {
  font-size: 0.75rem;
  line-height: 2;
  font-style: italic;
}

a {
  color: #2c66ee;
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: thin dotted;
}

a:hover {
  text-decoration: underline;
}

.o-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
}

.o-wrapper:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-wrapper--narrow {
  max-width: 698px;
}

.o-island {
  margin-bottom: 3rem;
}

.o-list-bare {
  list-style: none;
  margin-left: 0;
}

.o-list-inline {
  list-style: none;
  margin-left: 0;
}

.o-list-inline__item {
  display: inline-block;
}

@media screen and (min-width: 698px) {
  .o-island {
    margin-bottom: 4.5rem;
  }
}

.o-block-grid {
  display: block;
  margin-left: -12px;
  margin-right: -12px;
}

.o-block-grid:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-block-grid__item {
  display: block;
  float: left;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (min-width: 475px) {
  .o-block-grid-1-small .o-block-grid__item {
    width: 100%;
  }
  .o-block-grid-1-small .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-1-small .o-block-grid__item:nth-of-type(1n + 1) {
    clear: both;
  }
  .o-block-grid-2-small .o-block-grid__item {
    width: 50%;
  }
  .o-block-grid-2-small .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-2-small .o-block-grid__item:nth-of-type(2n + 1) {
    clear: both;
  }
  .o-block-grid-3-small .o-block-grid__item {
    width: 33.33333%;
  }
  .o-block-grid-3-small .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-3-small .o-block-grid__item:nth-of-type(3n + 1) {
    clear: both;
  }
}

@media screen and (min-width: 600px) {
  .o-block-grid-1-medium .o-block-grid__item {
    width: 100%;
  }
  .o-block-grid-1-medium .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-1-medium .o-block-grid__item:nth-of-type(1n + 1) {
    clear: both;
  }
  .o-block-grid-2-medium .o-block-grid__item {
    width: 50%;
  }
  .o-block-grid-2-medium .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-2-medium .o-block-grid__item:nth-of-type(2n + 1) {
    clear: both;
  }
  .o-block-grid-3-medium .o-block-grid__item {
    width: 33.33333%;
  }
  .o-block-grid-3-medium .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-3-medium .o-block-grid__item:nth-of-type(3n + 1) {
    clear: both;
  }
}

@media screen and (min-width: 970px) {
  .o-block-grid-1-large .o-block-grid__item {
    width: 100%;
  }
  .o-block-grid-1-large .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-1-large .o-block-grid__item:nth-of-type(1n + 1) {
    clear: both;
  }
  .o-block-grid-2-large .o-block-grid__item {
    width: 50%;
  }
  .o-block-grid-2-large .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-2-large .o-block-grid__item:nth-of-type(2n + 1) {
    clear: both;
  }
  .o-block-grid-3-large .o-block-grid__item {
    width: 33.33333%;
  }
  .o-block-grid-3-large .o-block-grid__item:nth-of-type(1n) {
    clear: none;
  }
  .o-block-grid-3-large .o-block-grid__item:nth-of-type(3n + 1) {
    clear: both;
  }
}

.c-header {
  border-bottom: 1px solid #e5e5e5;
}

.c-footer {
  border-top: 1px solid #e5e5e5;
}

.c-nav {
  padding-top: 1.5rem;
}

.c-nav__item {
  margin-right: 1.5rem;
}

.c-portfolio-item {
  display: block;
  margin-bottom: 1.5rem;
}

.c-portfolio-item:hover,
.c-portfolio-item:focus {
  text-decoration: none;
  outline: none;
}

.c-portfolio-item:hover .c-portfolio-item__image,
.c-portfolio-item:focus .c-portfolio-item__image {
  -webkit-transform: scale(1.04, 1.04);
  -moz-transform: scale(1.04, 1.04);
  -ms-transform: scale(1.04, 1.04);
  -o-transform: scale(1.04, 1.04);
  transform: scale(1.04, 1.04);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.c-portfolio-item:hover .c-portfolio-item__title,
.c-portfolio-item:focus .c-portfolio-item__title {
  text-decoration: underline;
}

.c-portfolio-item__image {
  margin-bottom: 0.75rem;
  transition: scale 0.2s;
}

.c-portfolio-item__title {
  margin-bottom: 0;
}

.u-screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-tiny-text {
  color: #767676;
  font-size: 0.75rem;
  line-height: 2;
}

.u-clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.u-align-none {
  display: inline-block !important;
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-pull-left {
  float: left !important;
}

.u-pull-right {
  float: right !important;
}

.u-1of2 {
  width: 50% !important;
}

.u-align-right {
  float: right;
  margin-left: 24px;
}

@media print {
  .c-header,
  .c-footer {
    display: none;
  }
  a {
    color: #444;
  }
  a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
}
