// LESS VARIABLES

// Colors
@textColor:                #545454;
@linkColor:                #de6868;
@linkColorHover:           @linkColor;

// Grey
@lighterGrey:              #eee;
@lightGrey:                #777;
@mediumGrey:               #999;
@darkGrey:                 #333;

// Typography
@sansSerifFontFamily:      Helvetica, Arial, sans-serif;
@serifFontFamily:          Georgia, Times, serif;
@baseFontFamily:           @sansSerifFontFamily;
@baseFontSize:             16px;
@baseLineHeight:           1.5;

// Grid
@maxWidth:                 1280px;
@columns:                  12;
@gutter:                   10px;
@marginBottom:             10px;

@smallBreak:               481px;
@mediumBreak:              769px;
@largeBreak:               @maxWidth;



// RESET
// ----------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
header, footer, main, article, aside, details,
figcaption, figure, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}



// TYPOGRAPHY
// ----------------------------------

body {
	color: @textColor;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	padding: 0 10px;
}

h1 {
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	font-weight: 100;
	margin-bottom: 24px;
}

h2 {
	color: #222;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	margin: 0;
}

h3 {}

h4 {}

h5 {}

h6 {}

p {
	color: @lightGrey;
	font-weight: 100;
	margin: 0 0 20px 0;
}

blockquote,
blockquote p {}

small {
	font-size: 0.8em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul,
ol {}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

hr {
	border: solid @lighterGrey;
	border-width: 5px 0 0;
	width: 15%;
	height: 0;
	margin: 0 auto 20px;
}

// Intro Paragraph
.introduction {
	text-align: center;
	font-size: 21px;
	line-height: 34px;
	font-weight: 100;
	max-width: 588px;
	margin: 0 auto;
}



// IMAGES & MEDIA
// ----------------------------------

img {
	max-width: 100%;
	height: inherit;
}

// Image alignment
.alignnone {
	margin-bottom: @marginBottom;
}

.alignleft {
	float: left;
	margin: 0 @gutter @marginBottom 0;
}

.alignright {
	float: right;
	margin: 0 0 @marginBottom @gutter;
}

.aligncenter {
	display: block;
	margin: 0 auto @marginBottom;
}

// Figures and captions
figure {
	width: 100% !important;
	margin-bottom: @marginBottom;
	
	img {
		margin-bottom: 8px;
	}
}

figcaption {
	text-align: left;
	font-size: 0.8em;
	line-height: 1.2;
	font-style: italic;
}



// LINKS & BUTTONS
// ----------------------------------

a {
	color: @linkColor;
	background-color: transparent;
	outline: none;
	
	&:focus {
		outline: thin dotted;
	}
	
	&:hover {
		color: @linkColorHover;
	}
}

.btn {
	display: inline-block;
	color: #fff;
	background: @linkColor;
	text-decoration: none;
	border: none;
	padding: 4px 12px;
	margin: 0;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}



// HEADERS & FOOTERS
// ----------------------------------

.site-header {
	border-bottom: 1px solid @lighterGrey;
	padding: 47px 4% 40px;
	margin-bottom: 40px;
}

.site-footer {}



// CONTENT
// ----------------------------------

.main-content {}

.portfolio-feature {
	margin-bottom: @marginBottom;
}



// GLOBAL STYLES
// ----------------------------------

// Screen reader text
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	
	&:active,
	&:focus {
		left: 15px;
		top: 15px;
		color: @linkColor;
		background-color: #f1f1f1;
		font-weight: bold;
		text-decoration: none;
		box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
		clip: auto;
		width: auto;
		height: auto;
		padding: 8px 16px 7px;
		z-index: 100000;
		outline: none;
	}
}



// GRID & LAYOUT
// ----------------------------------

.row {
	width: 100%;
	max-width: @maxWidth;
	margin: 0 auto;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	
	&:after {
		clear: both;
	}
	
	.row {
		width: auto;
		margin: 0 -@gutter;
	}
}

.col {
	float: left;
	padding-left: @gutter;
	padding-right: @gutter;
	width: 100%;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.grid-calc(@property, @num) {
	@{property}: (100% / @columns) * @num;
}
.grid-loop(@name, @i: @columns) when (@i > 0) {
	.grid-loop(@name, (@i - 1));
	
	.@{name}-@{i} {
		.grid-calc(width, @i);
	}
	
	.@{name}-offset-@{i} {
		.grid-calc(margin-left, @i);
	}
	
	.@{name}-push-@{i} {
		position: relative;
		.grid-calc(left, @i);
		right: auto;
	}
	
	.@{name}-pull-@{i} {
		position: relative;
		left: auto;
		.grid-calc(right, @i);
	}
}

// Small screens grid
.grid-loop(small);

// Medium screens grid
@media only screen and (min-width: @smallBreak) {
	.grid-loop(medium);
}

// Large screens grid
@media only screen and (min-width: @mediumBreak) {
	.grid-loop(large);
}



// PRINT STYLES
// ----------------------------------

@media print {
	*,
	*:before,
	*:after {
		color: #000 !important;
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	
	h2,
	h3 {
		page-break-after: avoid;
	}
	
	a,
	a:visited {
		text-decoration: underline;
	}
	
	a[href]:after {
		content: " (" attr(href) ")";
	}
	
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	
	pre,
	blockquote {
		page-break-inside: avoid;
	}
}